<template>
    <require from="./aot-main-slider.css"></require>

            <div class="slider-block">
                        <div id="slider">
                            <div>
                                <div class="img-container">
                                    <img src="/assets/homepage/slider/gameplay.png" alt="gameplay" />
                                    <h1 class="tooltip" t="site.homepage.slider1">Un gameplay unique</h1>
                                </div>
                                <div class="img-container">
                                    <img src="/assets/homepage/slider/multiplayer.png" alt="multijoueur" />
                                    <h1 class="tooltip" t="site.homepage.slider2">Défiez jusqu'à 7 de vos amis</h1>
                                </div>
                                <div class="img-container">
                                    <img src="/assets/homepage/slider/beta-available.png" alt="beta" />
                                    <h1 class="tooltip" t="site.homepage.slider3">Version Bêta disponible !</h1>
                                </div>
                                <div class="img-container">
                                    <img src="/assets/homepage/slider/gameplay.png" alt="gameplay" />
                                    <h1 class="tooltip" t="site.homepage.slider1">Un gameplay unique</h1>
                                </div>
                            </div>
                        </div>
            </div>

</template>