.slider-block {
    display: inline-block;
    width: 100%;
}


#slider {
    border: 5px solid black;
    overflow: hidden;
}

#slider div .img-container {
    float: left;
    width: 20%;
}

#slider div .img-container img {
    width: 100%;
}

#slider > div {
    animation: 30s slidy infinite;
    left: 0;
    margin: 0;
    position: relative;
    text-align: left;
    width: 500%;
}

#slider .tooltip {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    height: 60px;
    left: -10000px;
    line-height: 60px;
    margin: 0;
    margin-top: -65px;
    padding: 0;
    position: relative;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

#slider .img-container:hover .tooltip {
    left: 0;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    30% {
        left: 0%;
    }

    33% {
        left: -100%;
    }

    63% {
        left: -100%;
    }

    66% {
        left: -200%;
    }

    96% {
        left: -200%;
    }

    100% {
        left: -300%;
    }
}
