<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <div class="x-margin centered-text">
        <p class="centered-important" if.bind="data.title">
            <strong>${data.title}</strong>
        </p>

        <p class="centered-text" if.bind="data.description">${data.description}</p>

        <p class="centered-text">${data.message}</p>

        <form if.bind="data.choices">
            <label repeat.for="choice of data.choices">
                <input type="radio"
                       name="choices"
                       value.bind="choice.index"
                       checked.bind="$parent.selectedChoice"
                       required />
                ${choice.name}
            </label>
        </form>

        <button class="grey-button"
                click.delegate="cancel()"
                t="global.cancel">Cancel</button>
        <button class="blue-button"
                click.delegate="ok()"
                t="global.ok">OK</button>
    </div>
</template>