<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <div class="x-margin centered-text">
        <div class="cross-container" click.delegate="close()">
            <div class="cross" click.delegate="close()"></div>
        </div>
        <h1>
            <img src="${heroSource}" />
            <strong class="blue-text">${data.playerName}</strong>
        </h1>

        <div class="margin-top-0">
            <h2 t="game.play.player_box_cards"
                class="blue-text"></h2>
            <img repeat.for="card of lastPlayedCards"
                 src.bind="card"
                 class="card" />
        </div>

        <div class="margin-top-0">
            <h2 t="game.play.player_box_trumps"
                class="blue-text"></h2>
            <img repeat.for="trump of activeTrumps"
                 src.bind="trump"
                 class="trump" />
        </div>
    </div>
</template>
