@import '../../../style/media-queries';

$popup-full-screen-margin-top: -8px;


aot-popup {
    .popup {
        background-color: #111;
        height: 100vh;
        margin-top: $popup-full-screen-margin-top;
        opacity: 0.6;
        position: absolute;
        width: 100%;
        z-index: 900;
    }

    .popup-container {
        height: 100vh;
        margin-top: $popup-full-screen-margin-top;
        overflow-y: hidden;
        position: absolute;
        width: 100%;
    }

    .popup-content {
        left: 50%;
        max-width: 700px;
        min-height: 100px;
        min-width: 454px;
        padding-bottom: 72px;
        padding-top: 50px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        z-index: 901;

        &.default {
            background: url(/assets/game/backgrounds/popup.png) no-repeat;
            background-size: 100% 100%;
        }

        &.game-over {
            background: url(/assets/game/backgrounds/popup-game-over.png) no-repeat;
            background-size: 100% 100%;

            .x-margin {
                margin-left: 46%;
            }

            .x-margin ol {
                padding-top: 10%;
            }
        }

        button {
            margin-right: 1%;
            margin-top: 1em;
        }

        form {
            text-align: center;
        }

        .select-hero {
            margin-bottom: 0.5em;
        }

        .x-margin {
            margin-left: 11%;
            margin-right: 11%;
        }
    }

    .popup-player-box {
        background: url(/assets/game/backgrounds/popup.png) no-repeat;
        background-size: 100% 100%;
        padding-bottom: 40px;

        @include small-height {
            padding-bottom: 10px;
        }

        @include tiny-height {
            padding-top: 10px;
        }
    }

    aot-player-box-infos {
        h1 {
            display: table;
            margin: auto;

            img {
                margin-right: 20px;
                max-width: 100px;

                @include small-height {
                    display: none !important;
                }
            }

            img,
            strong {
                display: table-cell;
                vertical-align: middle;
            }
        }

        h2 {
            @include tiny-height {
                margin: 6px;
            }
        }

        .card {
            margin-right: 1%;
            max-width: 69px;

            @include small-height {
                max-height: 80px;
            }
        }

        .cross-container {
            background-color: #98999f;
            border: solid #98999f;
            border-radius: 50%;
            cursor: pointer;
            height: 30px;
            position: absolute;
            right: 0;
            top: 0;
            width: 30px;
        }

        .cross {
            background:
                linear-gradient(to bottom, transparent 35%, #65666d 35%, #65666d 65%, transparent 65%),
                linear-gradient(to right, transparent 35%, #65666d 35%, #65666d 65%, transparent 65%);
            cursor: pointer;
            height: 30px;
            transform: rotate(45deg);
            width: 30px;
        }

        .trump {
            margin-right: 1%;
            max-width: 80px;

            @include small-height {
                max-width: 45px;
            }
        }
    }
}
