<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="./popup.css"></require>
    <require from="./error"></require>
    <require from="./infos"></require>
    <require from="./confirm"></require>
    <require from="./game-over"></require>
    <require from="./back-home"></require>
    <require from="./player-box-infos"></require>
    <require from="./yes-no"></require>

    <div class="popup">
    </div>
    <div class="popup-container">
        <div class="popup-content ${background}">
            <aot-error if.bind="type === 'error'"
                       data.bind="data"
                       done.bind="done"></aot-error>
            <aot-infos if.bind="type === 'infos'"
                       data.bind="data"
                       done.bind="done"></aot-infos>
            <aot-confirm if.bind="type === 'confirm'"
                         data.bind="data"
                         done.bind="done"></aot-confirm>
            <aot-game-over if.bind="type === 'game-over'"
                           data.bind="data"
                           done.bind="done"></aot-game-over>
            <aot-back-home if.bind="type === 'back-home'"
                           data.bind="data"
                           done.bind="done"></aot-back-home>
            <aot-player-box-infos if.bind="type === 'player-box'"
                                  data.bind="data"
                                  done.bind="done"></aot-player-box-infos>
            <aot-yes-no if.bind="type === 'yes-no'"
                        data.bind="data"
                        done.bind="done"></aot-yes-no>
        </div>
    </div>
</template>
