<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="./play.css"></require>
    <require from="./widgets/board/board"></require>
    <require from="./widgets/cards/cards"></require>
    <require from="./widgets/counter/counter"></require>
    <require from="./widgets/notifications/notifications"></require>
    <require from="./widgets/player-box/player-box"></require>
    <require from="./widgets/trumps/trumps"></require>

    <header>
        <div class="social play-column-left">
            <a href="https://twitter.com/ArenaOfTitans" target="_blank">Twitter</a>
        </div>

        <div class="play-column-center">
            <img class="logo pointer" src="/assets/game/aot-logo.png" click.delegate="backHome()" />
        </div>

        <div class="social play-column-right">
            <a href="https://www.facebook.com/arenaoftitans/" target="_blank">Facebook</a>
        </div>
    </header>

    <main id="play">
        <div class="play-left">
            <p class="over-bg centered-important player-name">${myName}</p>
            <div id="trumps-container">
                <aot-trumps></aot-trumps>
            </div>
        </div>   <!-- block left -->

        <div class="play-middle">
            <div id="board-bg">
                <aot-player-box repeat.for="index of players.indexes"
                                index.bind="index"
                                players.bind="players"></aot-player-box>
                <div id="board-container">
                    <aot-board selected-card.two-way="selectedCard"
                               pawn-clickable.bind="pawnClickable"
                               on-pawn-clicked.bind="onPawnClicked"
                               pawns-forced-not-clickable.bind="pawnsForcedNotClickable"
                               on-pawn-square-clicked.bind="onPawnSquareClicked"
                               player-index.bind="me.index"></aot-board>
                </div>
            </div>

            <div id="cards-container">
                <aot-cards selected-card.two-way="selectedCard"></aot-cards>
            </div>

        </div>  <!--block middle -->

        <div class="play-right">
            <div id="notifications">
                <aot-notifications
                        players.bind="game.players"
                        current-player-index.bind="game.next_player"></aot-notifications>
            </div>

            <aot-counter></aot-counter>
        </div>  <!--block right-->

        <audio id="notify-sound-player">
            <source src="/assets/sounds/game/your-turn-sound.mp3" type="audio/mp3">
            <source src="/assets/sounds/game/your-turn-sound.ogg" type="audio/ogg">
        </audio>

        <audio id="notify-voice-player">
            <source src="/assets/sounds/game/your-turn-voice.mp3" type="audio/mp3">
            <source src="/assets/sounds/game/your-turn-voice.ogg" type="audio/ogg">
        </audio>

        <audio id="notify-game-over-player">
            <source src="/assets/sounds/game/game-over.mp3" type="audio/mp3">
            <source src="/assets/sounds/game/game-over.ogg" type="audio/ogg">
        </audio>
    </main>
</template>
