<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="./aot-options.css"></require>

    <div class="option-container row-block">
        <div class="option-wrapper">
            <div class="option">
                <div class="choices">
                    <div class="lang-chooser">
                        <img src="/assets/components/french.png" click.delegate="changeLang('fr')" />
                        <img src="/assets/components/english.png" click.delegate="changeLang('en')" />
                    </div>
                    <label class="white-text">
                        <span t="global.sound_option">Enable/Disable sound</span>
                        <input type="checkbox" value.bind="options.sound" checked.bind="options.sound" />
                    </label>
                    <br>
                    <label class="white-text">
                        <span t="global.propose_tutorial_option">Tutorial</span>
                        <input type="checkbox" value.bind="options.proposeGuidedVisit" checked.bind="options.proposeGuidedVisit" />
                    </label>
                    <br>
                    <label class="white-text">
                        <span t="global.propose_in_game_help_option">Tutorial</span>
                        <input type="checkbox" value.bind="options.proposeInGameHelp" checked.bind="options.proposeInGameHelp" />
                    </label>

                    <div class="social">
                        <a href="https://www.facebook.com/arenaoftitans/" target="_blank">Facebook</a>
                        <br>
                        <a href="https://twitter.com/ArenaOfTitans" target="_blank">Twitter</a>
                        <br>
                        <a href="https://bitbucket.org/arenaoftitans/" target="_blank">Source code</a>
                    </div>
                </div>

                <img class="hover-hide" src="/assets/components/gear.png" />
            </div>
        </div>
    </div>
</template>