<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="./create.css"></require>
    <require from="./widgets/select-heroes/select-heroes"></require>

    <aot-select-heroes if.bind="!hasHero || editing"
                       data.bind="playerInfo"
                       done.bind="playerInfoDefered.resolve"></aot-select-heroes>

<div class="centered-block"
     if.bind="hasHero && !editing">

    <div id="create-game-me"
         if.bind="me.name"
         class="centered-block white-text hidden-on-page-load">
        <h2 t="global.me">Me</h2>
        <img class="selected-hero" src.bind="heroSrc" />
        <p class="centered-text white-text">
            <span t="global.name" t-params.bind="{playerName: me.name}">Name</span>
            <button class="blue-button"
                    click.trigger="editMe()"
                    t="global.edit">Edit
            </button>
        </p>
        <button class="blue-button centered-block"
                if.bind="me.is_game_master"
                disabled.bind="!canCreateGame"
                click.trigger="createGame()"
                t="game.create.create">Create Game
        </button>

        <div if.bind="me.is_game_master">
            <h2 t="game.create.invite">Invite</h2>
            <div class="display-table">
                <label class="centered-text bright-red-text display-table-cell">
                    <span t="game.create.invite_text">Invite</span>
                    <input id="invite-link" type="text" value.bind="gameUrl" readonly/>
                    <button id="copy-invite-link" class="display-table-cell" data-clipboard-target="#invite-link">
                        <img src="/assets/game/misc/clippy.svg" width="13" alt="Copy to clipboard">
                    </button>
                </label>
            </div>
        </div>
    </div>

    <div id="create-game-slots"
         if.bind="me.name"
         class="centered-block white-text hidden-on-page-load">
        <h2 t="game.create.others">Other players</h2>

        <p class="centered-text white-text" repeat.for="slot of slots">
            <span t="game.create.slot">Slot</span> n°${slot.index + 1}
            <span if.bind="me.is_game_master && (slot.state !== 'TAKEN' || !slot.player_name)">
                <select class="slot-state-chooser" value.bind="slot.state" change.delegate="updateSlot(slot)">
                    <option repeat.for="state of CHOOSABLE_SLOTS_STATES"
                            value.bind="state"
                            t="game.create.${state}">
                    </option>
                </select>
            </span>
            <span if.bind="(slot.player_name && slot.state === 'TAKEN') || !me.is_game_master">
                <span t="game.create.TAKEN" if.bind="slot.state === 'TAKEN'"></span>
                <span t="game.create.OPEN" if.bind="slot.state === 'OPEN'"></span>
                <span t="game.create.AI" if.bind="slot.state === 'AI'"></span>
                <span t="game.create.CLOSED" if.bind="slot.state === 'CLOSED'"></span>
                ${slot.player_name}
            </span>
        </p>
    </div>

    <!-- svg background -->
    <svg id="create-game-bg"
         class="svg-full-screen-bg"
         version="1.1"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px"
         y="0px"
	     width="100%"
         height="100%"
         viewBox="0 0 1300 750"
         preserveAspectRatio="none">
        <image overflow="visible" width="1300" height="750" xlink:href="/assets/game/backgrounds/game-creation.jpg"  transform="matrix(0.9999 0 0 0.9999 0 0)">
        </image>
        <rect id="create-game-gate-left" x="19.667" y="164.667" fill="none" width="277.333" height="560"/>
        <rect x="981" y="164.667" fill="none" width="294.667" height="560"/>
        <rect id="create-game-plate" x="363.667" y="228.667" fill="none" width="522.667" height="496"/>
    </svg>
</div>
</template>
