#copy-invite-link {
    margin-left: 5px;
    width: 27px;
}

#copy-invite-link:hover {
    background-color: grey;
}

.selected-hero {
    display: block;
    margin: auto;
    max-width: 150px;
}

.slot-state-chooser {
    background-color: #623629;
    color: white;
    margin: 0;
    padding: 0;
}
