aot-footer {
    footer {
        background-image: linear-gradient(transparent, black);
        background-size: 100% 100%;
        height: 200px;
        width: 100%;
    }

    .social {
        margin-top: 6vh;
    }
}
