<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="./trumps.css"></require>
    <require from="../infos/infos"></require>
    <require from="../gauge/gauge"></require>

	<div id="gauge" class="centered-block">
        <aot-trumps-gauge if.bind="me.hero" hero.bind="me.hero" cost.bind="selectedTrumpCost"></aot-trumps-gauge>
	</div>

    <!-- Infos for affecting trump must be here not be hidden by the player's trumps -->
    <aot-infos type="affecting-trumps"
               infos.bind="affectingInfos"></aot-infos>

    <div id="trumps-affecting-player">
        <div>
            <img class="trumps-affecting-player"
                 repeat.for="trump of affectingTrumps"
                 src.bind="trump.img"
                 mouseover.delegate="displayAffectingInfos(trump, $event)"
                 mouseout.delegate="hideAffectingInfos()" />
        </div>
    </div>

    <div id="player-trumps">
        <div>
            <aot-infos type="trumps"
                       infos.bind="infos"></aot-infos>

            <img class="player-trumps ${yourTurn && trumpsStatuses[$index] ? 'active-trump' : 'inactive-trump'}"
                 repeat.for="trump of trumps"
                 src.bind="trump.img"
                 click.delegate="play(trump, $index)"
                 mouseover.delegate="displayInfos(trump, $event)"
                 mouseout.delegate="hideInfos()" />
        </div>
    </div>
</template>
