@import '../../../style/media-queries';


aot-header {
    a {
        padding-left: 0;
    }

    header {
        background-image: linear-gradient(black, transparent);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 200px;
    }

    .nav-button {
        display: block;
        float: left;
        width: 20%;
    }

    .grey-button {
        width: 50%;
    }

    .column-center {
        display: inline-block;
        height: 200px;
        margin-left: 85px;
        width: 200px;

        a {
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    .column-left {
        display: inline-block;
        width: 35%;
    }

    .column-right {
        display: inline-block;
        width: 35%;
    }

    .navbar {
        padding-left: 5%;
        padding-right: 5%;
        position: relative;
        top: 50px;
    }

    @include fluid {
        header {
            .column-left,
            .column-right {
                position: relative;
                width: 45%;
            }

            .column-left {
                bottom: -100px;
            }

            .column-right {
                bottom: -40px;
            }

            .column-center {
                display: block;
                margin: auto;
            }
        }
    }
}
