<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="./aot-header.css"></require>

    <header>

        <aot-connect></aot-connect>

        <div class="navbar">
            <div class="column-left">
                <a class="button" href="/rules" t="site.header_rules">Règles</a>
                <a class="button" href="/synopsis" t="site.header_synopsis">Synopsis</a>
            </div>
            <div class="column-center">
                <a class="logo" href="/"></a>
            </div>
            <div class="column-right">
                <a class="button button-disabled" t="site.header_news">Actualité</a>
                <a class="button button-disabled" t="site.header_community">Communauté</a>
            </div>
        </div>
    </header>
</template>
